{% extends 'base/stock_base.html' %} {% load humanize %}
<!---->
{% block body %}
<div class="heading">
  <div class="title">1月優待</div>
  <div class="wrapper">
    <div class="container">
      <p>権利付き最終日</p>
      <p>1月29日</p>
    </div>
    <div class="container">
      <p>権利落ち日</p>
      <p>1月30日</p>
    </div>
  </div>
</div>

<h1>クロス取引手数料計算</h1>
<form method="POST">
  {% csrf_token %} {% if result %}
  <div class="message">
    <h2>検索結果</h2>
    <p>{{ result.message }}</p>
    {% if not result.message %}
    <p>{{ result.stock_name }}</p>
    <p>{{ result.stock_price | intcomma }}円</p>
    {% endif %}
  </div>
  {% endif %}
  <div class="form-flex-container">
    <div class="input-group">
      <label for="code" class="flex-input-label">企業コード</label>
      <input
        id="code"
        name="code"
        type="text"
        class="flex-input-field"
        value="{{ request.POST.code }}"
      />
    </div>
    <button type="submit" name="action" value="search" class="button">
      検索
    </button>
  </div>
</form>
<form>
  {% csrf_token %}
  <div class="form-container">
    <div class="input-group">
      <label for="price" class="input-label">株価</label>
      <input
        id="price"
        name="price"
        type="text"
        class="input-field"
        value="{{ result.stock_price }}"
      />
    </div>
  </div>
  <div class="form-container">
    <div class="input-group">
      <label for="quantity" class="input-label">株数</label>
      <select name="quantity" id="quantity" class="input-field">
        <option value=""></option>
        {% comment %} {% for quantity_option in quantity_options %}
        <option value="{{ quantity_option }}">{{ quantity_option }}</option>
        {% endfor %} {% endcomment %}
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
        <option value="600">600</option>
        <option value="700">700</option>
        <option value="800">800</option>
        <option value="900">900</option>
        <option value="1000">1000</option>
      </select>
    </div>
  </div>
  <div class="form-container">
    <div class="input-group">
      <label for="quantity" class="input-label">注文日</label>
      <input type="date" class="input-field" />
    </div>
  </div>
  <div class="form-container">
    <div class="input-group">
      <label for="get_month" class="input-label">権利月</label>
      <select name="get_month" id="get_month" class="input-field month">
        <option value=""></option>
        {% for month_option in month_options %}
        <option value="{{ month_option }}">{{ month_option }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <button type="submit" name="action" value="calc" class="button">
    計算する
  </button>
</form>

{% endblock %}
