<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyApp</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stock/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'stock/css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'stock/css/settings.css' %}" />
    {% block extra_head %}
    <!-- CSSを追加する用 -->
    {% endblock %}
    <link rel="stylesheet" href="{% static 'stock/css/record.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div><a href="{% url 'stock:index' %}">My App</a></div>
      <div>
        {% if user.is_authenticated %}
      <form action="{% url 'accounts:logout' %}" method="POST">
        {% csrf_token %}
        <button class="login-button" type="submit">ログアウト</button>
      </form>
      {% else %}
      <a class="custom-button" href="{% url 'login' %}">ログイン</a>
      {% endif %}
      </div>
    </header>
    {% block body %}
    <!---->
    {% endblock %}
  </body>
</html>
